@import '../../constants';

.date-picker-container {
  border: 1px solid $BLUE;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &.orange {
    border-color: $ORANGE;
  }

  .ant-picker {
    border: none;

    &.ant-picker:hover, &.ant-picker-focused {
      box-shadow: none;
      border-color: white;
    }

    &:focus {
      border-color: white;
    }

    .ant-picker-input input {
      color: black;
    }
  }
}
