@import '../../constants';

.ant-layout.layoutQuizList {
  background-color: darken($BLUE, 10%);
  min-height: 100vh;

  .ant-row {
    justify-content: center;
  }

  .ant-row {
    padding: 10px;

    .ant-col {
      flex: 1;

      .box {
        display: grid;
        grid-template-columns: 1fr 10fr;
        align-items: center;

        .number {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          margin-bottom: 10px;
          padding: 9px 15px;
          margin-right: 10px;
          background-color: $LIGHT-BLUE;
          cursor: pointer;

          .ant-typography {
            font-weight: bold;
            color: white;
          }
        }
      }

      .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 10px;
        background-color: $LIGHT-BLUE;
        cursor: pointer;

        .quiz-name {
          font-weight: 800;
          color: white;
          font-size: 15px;
        }

        .icon {
          color: white;
        }
      }
    }
  }

  @media screen and (min-width: $MD-BREAKPOINT) {
    background-color: white;

    
    .ant-row .ant-col {

      .box {
        .number {
          background-color: white;
          border: 1px solid $BLUE;
    
          .ant-typography {
            font-weight: bold;
            color: black;
          }
        }
      }

      .button {
        background-color: white;
        border: 1px solid $BLUE;

        .quiz-name,
        .icon {
          color: black;
        }
      }
    }
  }
}
