@import "../../constants";

.SubjectsView {
  min-height: 100vh;
  margin-bottom: 50px;

  .ant-spin-container > .ant-row {
    justify-content: center;
    padding: 10px;

    .ant-col {
      flex: 1;
      .ant-form-item-has-feedback .ant-form-item-children-icon {
        margin-top: 0;
      }

      .text-field-container,
      .text-area-container,
      .date-picker-container {
        margin-bottom: 10px;
      }

      .ant-picker.ant-picker-disabled,
      .ant-input[disabled] {
        background-color: white;
      }

      .ant-row {
        justify-content: center;
      }
    }
  }
}
