@import '../../constants';

.Form-container {
  min-height: 100vh;

  > img {
    position: fixed;
    width: 100vw;
    height: 200px;

    @media screen and (min-width: $MD-BREAKPOINT) {
      display: none;
    }
  }

  > .ant-row {
    padding: 0 20px;

    @media screen and (max-width: $MD-BREAKPOINT) {
      height: 100vh;
    }

    h1 {
      color: white;
      font-size: 32px;
      font-weight: 900;
      width: 70vw;
      z-index: 1;
      height: 200px;
      padding-top: 30px;
      min-width: 70vw;

      @media screen and (min-width: $MD-BREAKPOINT) {
        display: none;
      }
    }

    > .ant-col {
      @media screen and (min-width: $MD-BREAKPOINT) {
        margin-top: 50px;
        padding: 40px;
        box-shadow: $box-shadow;
      }

      > .ant-form {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        height: 100%;

        .ant-input-password.ant-input-affix-wrapper.ant-input-affix-wrapper-focused {
          box-shadow: none;
        }

        .ant-input-password {
          padding: 4px 11px;
          border: none;
          border-bottom: 1px solid black;

          &:hover,
          &:focus {
            border-color: white;
            box-shadow: none;
            border-bottom-color: black;
          }

          &.ant-input-affix-wrapper:active,
          &.ant-input-affix-wrapper:focused {
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            box-shadow: none;
          }

          > .ant-input {
            border: none;
          }
        }

        .ant-input {
          font-size: 16px;
          color: black;
          border: none;
          border-bottom: 1px solid black;

          &::placeholder {
            color: black;
          }

          &:hover,
          &:focus {
            border-color: white;
            box-shadow: none;
            border-bottom-color: black;
          }
        }

        .ant-checkbox-wrapper {
          .ant-checkbox-inner {
            border-color: $BLUE;
          }

          .ant-checkbox-checked .ant-checkbox-inner {
            background-color: $BLUE;
          }

          > span {
            color: black;
          }
        }

        .btn-container {
          margin-top: auto;

          .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > span {
              color: black;
              font-size: 16px;
            }
          }

          .ant-btn {
            border-radius: 1px solid pink;
            background-color: $BLUE;
            border-radius: 50%;
            height: 44px;
            width: 44px;
            padding: 0px;
          }

          @media screen and (min-width: $MD-BREAKPOINT) {
            display: none;
          }
        }

        .ant-row.bottom-button-container {
          margin-top: 20px;
          justify-content: center;

          @media screen and (max-width: $MD-BREAKPOINT) {
            display: none;
          }
        }

        .links .ant-form-item-control-input-content {
          display: flex;
          justify-content: space-between;

          @media screen and (min-width: $MD-BREAKPOINT) {
            flex-direction: column;
          }
        }

        .FormField__Link {
          color: #66707d;
          text-decoration: none;
          border-bottom: 1px solid #66707d;
          margin-bottom: 20px;
          width: max-content;

          @media screen and (min-width: $MD-BREAKPOINT) {
            align-self: center;
            margin: 10px;
          }
        }
      }
    }
  }
}
