$BLUE: #1094ab;
$ORANGE: #ec971f;
$GRAY: #7b7b7b;
$LIGHT-GRAY: #f0f0f0;
$LIGHT-BLUE: #3f7c8b;
$DARK-RED: #ca0000;

$box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.31) 0px 0px 1px;

$MD-BREAKPOINT: 768px;
