@import '../../constants';

.ant-layout {
  background-color: white;

  &.ant-layout-has-sider {
    @media screen and (min-width: $MD-BREAKPOINT) {
      flex-direction: column;
    }
  }

  .ant-input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}
