@import '../../constants';

.ranking-container {
  min-height: 100vh;

  @media screen and (max-width: $MD-BREAKPOINT) {
    background-color: darken($ORANGE, 20%);
  }

  .ant-row {
    justify-content: center;

    .msg-text {
      color: white;

      @media screen and (min-width: $MD-BREAKPOINT) {
        color: black;
      }
    }
  }
}
