@import '../../constants';

.dashboard-container {
  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;

    .white-bg {
      padding: 0 15px 15px;
    }
  }

  .ant-row {
    justify-content: center;
  }
}
