@import '../../constants';

.menu {
  flex: 1 1 auto;
  min-height: 0px;
  margin: 10px 0 30px;

  .ant-card {
    border: 1px solid $BLUE;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .ant-card-head-title {
    font-weight: bold;
  }

  .ant-card-body {
    padding: 0;
  }
}
