@import '../../constants';

.navbar {
  background: $BLUE;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media screen and (max-width: $MD-BREAKPOINT) {
    display: none;
  }

  .text {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

  .mr {
    margin-right: 30px;
  }

  .ant-menu {
    background: $BLUE;

    .ant-menu-item {
      &.ant-menu-item-selected {
        background-color: darken($BLUE, 5%);
      }
    }
  }

  .user-info {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;

    img {
      height: 40px;
      width: 40px;
      margin: 0 5px;
      border-radius: 20px;
    }

    .name {
      text-transform: capitalize;
      padding: 0 5px;
    }

    .icon {
      padding: 5px;
    }
  }
}

.user-info-dropdown {
  background-color: $BLUE;

  .text {
    color: white;
  }

  .email.ant-menu-item {
    cursor: default;
  }

  .ant-menu-item {
    &:hover {
      background-color: darken($BLUE, 5%);
    }

    &.ant-menu-item-selected {
      background-color: unset;
      &:hover {
        background-color: darken($BLUE, 5%);
      }
    }
  }
  .ant-menu-item a:hover {
    color: white;
  }
}
